/* ################# Common ################# */

.wrapper {
  width: 1130px;
  margin: 0 auto;
}

/* ################# Header ################# */

.header {
  /* height: 100px; */
  border-bottom: 1px solid #d6d4d4;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header-subTitle {
  font-size: 18px;
  margin-bottom: 5px;
}

/* ################# Items ################# */

h2 {
  font-size: 35px;
  font-weight: 700px;
  margin-left: 15px;
  color: #ff9e23;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ################# Item ################# */

.item {
  flex: 1;
  display: flex;
  margin-left: 1.25%;
  height: 95px;
  align-items: center;
  justify-content: center;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 0 #e4e4e4;
  border-color: #b7b7b7;
  border-radius: 5px;
}

.item:hover {
  background-color: #ff9e23;
  color: #fff;
  box-shadow: 0 4px 0 #e57f00;
  border-color: #ff9e23;
  border-radius: 5px;
  cursor: pointer;
}

.itemChecked {
  background-color: #ff9e23;
  color: #fff;
  box-shadow: 0 4px 0 #e57f00;
  border-color: #ff9e23;
  border-radius: 5px;
  cursor: pointer;
}

/* span:before {
  content: "*";
} */

.itemText {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

/* ################# Footer ################# */

.follower {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.previous {
  margin-left: 15px;
  padding: 10px 0;
  text-decoration: underline;
}

.previous:hover {
  text-decoration: none;
  cursor: pointer;
}

.progressBarre {
  flex: 1;
  text-align: center;
}

.nextButton {
  width: 130px;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #ff9e23;
  border-radius: 20px;
}

.nextButton:hover {
  cursor: pointer;
}

/* ################# Mentions ################# */

.mention {
  padding-top: 15px;
  padding-bottom: 5px;
  color: #000;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.require {
}

.linkMentions {
  text-decoration: underline;
}

.linkMentions:hover {
  /* text-decoration: none; */
  cursor: pointer;
}

.close_mention {
  text-decoration: underline;
}

.close_mention:hover {
  cursor: pointer;
}

/* ################# CodePost ################# */

.inputRow {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
  font-size: 20px;
  margin-left: 15px;
  padding: 10px 20px;
  align-items: center;
}
.row1 {
  background-color: #f1f1f1;
}

label {
  width: 400px;
}

.selectCountry {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.selectCountry select {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 8px;
  width: 100%;
  border: none;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.inputCodePost {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  height: 30px;
  padding-left: 6px;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.infoCodePost {
  margin-left: 15px;
}

.relativePosition {
  position: relative;
}

.zipCodeList {
  border: 1px solid black;
  width: 210px;
  height: 200px;
  overflow: auto;
  z-index: 100;
  position: absolute;
  top: -30px;
  left: 435px;
  /* right: 40px; */
  background-color: #ffffff;
}
.zipCodeSelected {
  font-weight: 600;
}

.zipCodeSelected:hover {
  cursor: pointer;
}

/* ################# Amount ################# */

.labelText {
  width: 400px;
}

.inputAmount {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: end;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-right: 5px;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.cal {
  padding-right: 10px;
}

/* ################# GetEmail ################# */

.textZone {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.textZone p {
  width: 200px;
  margin: 0 50px 0 150px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 5px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  background-color: #ff9e23;
}

.inputEmail {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 6px;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-right: 5px;
}

.inputEmailRed {
  box-shadow: 0 4px 0 #e50000;
  border: 1px solid #ff2323;
}

.emailError {
  box-shadow: 0 4px 0 #e50000;
  border: 1px solid #ff2323;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 0px 5px;
}

/* ################# SendEmail ################# */

.result {
}

.resultDossier {
  padding-left: 5px;
  font-size: 30px;
}

/* ################# Modal Login ################# */

.modal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 400px;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-close {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  cursor: pointer;
}

.loginUser {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.loginUserLabel {
  background-color: #ff9e23;
  color: #fff;
  border-color: #ff9e23;
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 35px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin: 15px 0px;
}

.loginUserPassword {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 300px;
  height: 30px;
  margin: 15px 0px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.loginUserButton {
  background-color: #e57f00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 200px;
  height: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin: 15px 0px;
}

/* ################# Summary ################# */

.pull-right {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.auth-container {
  display: flex;
  flex-direction: column;
  width: 80px;
  align-items: center;
}

.auth-container > span {
  font-size: 10px;
  cursor: pointer;
}

/* ################# Summary ################# */

/* Smmary & Devis*/
.container1 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.row0 {
  display: flex;
  margin: 2px 0px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #e57f00;
}

/* ################# Devis ################# */
.row {
  display: flex;
  margin: 2px 0px;
  border-radius: 5px;
  border: 1px solid #ff9e23;
}

.row:hover {
  cursor: pointer;
}

/* Summary & Devis */
.td1 {
  text-align: left;
  padding-left: 3px;
  width: 150px;
  border-right: 1px solid #ff9e23;
}
.td2 {
  text-align: left;
  padding-left: 3px;
  width: 150px;
  border-right: 1px solid #ff9e23;
}
.td3 {
  text-align: center;
  width: 150px;
  border-right: 1px solid #ff9e23;
}
.td4 {
  text-align: center;
  width: 150px;
  border-right: 1px solid #ff9e23;
}
.td5 {
  text-align: right;
  padding-right: 3px;
  width: 150px;
  border-right: 1px solid #ff9e23;
}
.td7 {
  text-align: center;
  width: 50px;
}

.td7:hover {
  cursor: pointer;
}

/* ################# DetailsDevis ################# */
.tab0 {
  width: 750px;
  margin: auto;
}

.tab {
  border-radius: 5px;
  border: 1px solid #ff9e23;
}

.tab1 {
  display: flex;
  text-align: left;
  padding-left: 3px;
}

.tab2 {
  background-color: #d4d1d1;
}

.cel1 {
  text-align: left;
  padding-left: 3px;
  width: 500px;
  border-right: 1px solid #ff9e23;
}

.cel2 {
  text-align: left;
  padding-left: 3px;
  width: 200px;
}
