/* ################# Common ################# */

.wrapper {
  width: 1130px;
  margin: 0 auto;
}

/* ################# Header ################# */

.header {
  height: 110px;
  border-bottom: 1px solid #797777;
  margin-left: 15px;
}

.header-subTitle {
  font-size: 18px;
}

/* ################# Items ################# */

h2 {
  font-size: 35px;
  font-weight: 700px;
  margin-left: 15px;
  color: #ff9e23;
  text-transform: uppercase;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ################# Item ################# */

.item {
  flex: 1;
  display: flex;
  margin-left: 1.25%;
  height: 95px;
  align-items: center;
  justify-content: center;
  border: 1px solid #b7b7b7;
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 0 #e4e4e4;
  border-color: #b7b7b7;
  border-radius: 5px;
}

.item:hover {
  background-color: #ff9e23;
  color: #fff;
  box-shadow: 0 4px 0 #e57f00;
  border-color: #ff9e23;
  border-radius: 5px;
  cursor: pointer;
}

.itemChecked {
  background-color: #ff9e23;
  color: #fff;
  box-shadow: 0 4px 0 #e57f00;
  border-color: #ff9e23;
  border-radius: 5px;
  cursor: pointer;
}

/* span:before {
  content: "*";
} */

.itemText {
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

/* ################# Footer ################# */

.follower {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.previous {
  margin-left: 15px;
  padding: 10px 0;
  text-decoration: underline;
}

.previous:hover {
  text-decoration: none;
  cursor: pointer;
}

.progressBarre {
  flex: 1;
  text-align: center;
}

.nextButton {
  width: 130px;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #ff9e23;
  border-radius: 20px;
}

.nextButton:hover {
  cursor: pointer;
}

/* ################# Mentions ################# */

.mention {
  padding-top: 15px;
  padding-bottom: 5px;
  color: #000;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}
.require {
}

.linkMentions {
  text-decoration: underline;
}

.linkMentions:hover {
  /* text-decoration: none; */
  cursor: pointer;
}

.close_mention {
  text-decoration: underline;
}

.close_mention:hover {
  cursor: pointer;
}

/* ################# CodePost ################# */

.inputRow {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
  font-size: 20px;
  margin-left: 15px;
  padding: 10px 20px;
  align-items: center;
}
.row1 {
  background-color: #f1f1f1;
}

label {
  width: 400px;
}

.selectCountry {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.selectCountry select {
  font-size: 20px;
  font-weight: 600;
  padding: 5px 8px;
  width: 100%;
  border: none;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.inputCodePost {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  height: 30px;
  padding-left: 6px;
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.infoCodePost {
  margin-left: 15px;
}

.relativePosition {
  position: relative;
}

.zipCodeList {
  border: 1px solid black;
  width: 210px;
  height: 200px;
  overflow: auto;
  z-index: 100;
  position: absolute;
  top: -30px;
  left: 435px;
  /* right: 40px; */
  background-color: #ffffff;
}
.zipCodeSelected {
  font-weight: 600;
}

.zipCodeSelected:hover {
  cursor: pointer;
}

/* ################# Amount ################# */

.labelText {
  width: 400px;
}

.inputAmount {
  background-color: #ffffff;
  box-shadow: 0 4px 0 #e57f00;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff9e23;
  width: 250px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: end;
  overflow: hidden;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin-right: 5px;
}

.cal {
  padding-right: 10px;
  /* border: 1px solid black; */
}
